body {
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #ffffff;
    margin: 0px;
    background-color: #010514;
    line-height: 150%;
}

body a:link {
    color: #ffffff;

}

body a:visited {
    color: #ffffff;
}

body a:hover {
    color: #ffffff;
}

.maintext {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 1000px;
    width: auto;
    margin: auto;
}

.hint {
    color: #c0c0c0;
    font-style: italic;
    font-weight: 300;
}

header {
    background: linear-gradient(to left, #228285, #1672c2);
    padding: 20px;
}

header a:link {
    color: #ffffff;
}

header a:visited {
    color: #ffffff;
}

header .textbutton {
    color: white;
    background: #07142e;
}

header .textbutton:hover {

    box-shadow: 0px 0px 5px white;
    background: black;
}

header .textbutton:active {
    background: linear-gradient(to left, #228285, #1672c2);
    transition: all 0s;
}

.minorheader {
    padding: 2px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: normal;
}

main {
    padding: 20%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #07142e;
    padding: 50px 5px 50px 5px;
    height: 250px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    margin-right: 20px;
}

.profile .name {
    font-size: 30px;
    font-weight: bold;
}

.profile .subtext {
    font-size: 18px;
    color: #888888;
}

.subprofile {
    display: grid;
    padding: 5%;
    overflow: hidden;
}

.subprofile img {
    width: 50px;
    padding: 15%;
}

.video-example {
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

.video-example .user {

    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 100%;
}

.user a {
    text-shadow: 0px 0px 5px transparent;

    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.user a:hover {
    text-shadow: 0px 0px 5px #ffffff;
    letter-spacing: 1px;
}

.video-example img {
    width: 30px;
    border-radius: 50%;
}

.video-example iframe {
    grid-column: 2;
    flex-basis: 1;
    border: 0;
    border-radius: 10px;
}

.video-example p {
    text-decoration: none;
    flex: 1;
    min-width: 30%;
}

.video-example div {
    flex: 1;
    min-width: 30%;
}

.video-example h3 {
    margin: 0px;
}

.musiccollection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: auto;
}

.musiccollection a {
    text-decoration: none;
}

.musiccard {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #07142e;
    padding: 0px;
    font-weight: bolder;
    font-size: larger;
    border-radius: 20px;
    width: 90%;
    height: 100%;
    text-decoration: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.musiccard p {
    margin: 0 0 25px 0;
}

.musiccard:hover {

    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px white;
    letter-spacing: 1px;
    color: #ffffff;

    background: linear-gradient(to left, #228285, #1672c2);
    background-size: 400% 400%;

    -webkit-animation: MovingGradient 2s ease infinite;
    -moz-animation: MovingGradient 2s ease infinite;
    animation: MovingGradient 2s ease infinite;
}

.musiccard img {
    margin: 5% 0;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 90%;
    border-radius: 10px;
}

.musiccard:hover img {
    margin: 2.5% 0;
    width: 95%;
}

.musiccard:active {
    background: linear-gradient(to left, #33c2c7, #1a8aec);
    transition: all 0s;
}

.musiccard a:hover {
    color: white;
}

.modcard {
    display: inline-grid;
    grid-template-areas: "info download";
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
    padding: 10px;
    gap: 10px;
    width: calc(100% - 10px);
    flex-wrap: nowrap;
    background-color: #07142e;
    border-radius: 20px;
    margin-top: 10px;
    text-decoration: none;
    height: 100px;

    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modcard a {
    display: flex;
}

.modcard .info {
    color: #c0c0c0;
    grid-area: "info";
    display: inline-grid;
    grid-template-areas: "icon title" "icon description";
    grid-template-columns: min-content auto;
    grid-template-rows: 20px auto;
    gap: 10px;
    text-decoration: none;
    height: auto;
}

.modcard:hover .info {
    color: #ffffff
}

.modcard:hover {
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px white;
    color: #ffffff;

    background: linear-gradient(to left, #228285, #1672c2);
    background-size: 400% 400%;

    -webkit-animation: MovingGradient 2s ease infinite;
    -moz-animation: MovingGradient 2s ease infinite;
    animation: MovingGradient 2s ease infinite;
}

.modcard b {
    color: #ffffff;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    letter-spacing: 0px;
}

.modcard:hover b {
    letter-spacing: 1px;
}

.modcard:active {
    background: linear-gradient(to left, #33c2c7, #1a8aec);
}

.modcard img {
    border-radius: 20px;
    width: 100px;
}

.modcard p {
    text-decoration: none;
    margin: 0px;
}

.download {
    transition: all .3s ease-in-out;
    grid-area: download;
    align-self: center;
    justify-self: right;
    background: #010514;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    margin-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download svg {
    height: 45px;
}

.download:hover {
    transition: all 0s ease-in-out;
    background: #07142e;
    box-shadow: 0px 0px 5px white;
}

.textbutton {

    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    line-height: 100%;
    box-shadow: 0px 0px 5px transparent;

    padding: 20px;
    max-width: 1000px;
    width: max-content;

    text-decoration: none;
    text-align: center;
    display: table;

    border-width: 0px;
    border-radius: 10px;
    height: max-content;
    background: linear-gradient(to left, #228285, #1672c2);
    cursor: pointer;

    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    align-content: center;
}

.textbutton svg {
    fill: white;
    height: 25px;
}

.textbutton div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.textbutton p {
    margin: 0px;
}

.textbutton:hover {

    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px white;
    letter-spacing: 1px;
    color: #ffffff;

    padding: 20px 30px;

    background: linear-gradient(to left, #228285, #1672c2);
    background-size: 400% 400%;

    -webkit-animation: MovingGradient 2s ease infinite;
    -moz-animation: MovingGradient 2s ease infinite;
    animation: MovingGradient 2s ease infinite;
}

.textbutton:active {
    background: linear-gradient(to left, #33c2c7, #1a8aec);
}

@-webkit-keyframes MovingGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes MovingGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes MovingGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@media screen and (max-width: 1000px) {
    .video-example {
        row-gap: 20px;
    }

    .video-example iframe {
        width: 100%;
        grid-column: 1;
    }

    .video-example p {
        min-width: auto;
    }

}

@media screen and (max-width: 600px) {
    .subprofile {
        visibility: hidden;
    }

    .musiccard p {
        font-size: medium;
    }
}

.copy-icon {
    display: inline-block;
    margin: 2%;
    width: 20px;
    height: 20px;
    background: center url("copy-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    cursor: pointer;
    border: solid 2px transparent;
    outline: 1px solid white;
    border-radius: 3px;
}

footer {
    background: #07142e;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #838383;
}